//## Navigation
@import "../_variables";
@import "../_mixins";

nav.post-navigation,
nav.navigation.post-navigation {
	margin: 0;

	.nav-links {
		width: 100%;

		@include breakpoint(xs) {
			@include flexbox;
			@include flex-direction(column);
			@include align-items(center);
		}
	}

	.nav-previous,
	.nav-next {

		@include breakpoint(xs) {
			width: 100%;
			float: none;
			text-align: center;
			margin: 5px 0;
		}		

		a {
			color: $gray-lighter;
			position: relative;

			&::before,
			&::after {
				content: '';				
				display: inline-block;				
				position: absolute;
				width: 12px;
				height: 100%;
				top: 0;
				opacity: .5;
				@include transition(all .3s ease);
			}

			&:hover {

				&::before,
				&::after {
					opacity: 1;
				}				
			}			
		}
	}

	.nav-previous,
	.nav-next {
		padding: 0 20px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;		
		@include transition(all .3s ease);

		&:hover {
			background-color: darken($gray-lightest, 5%);
		}

		a {
			display: block;
			padding-top: 40px;
			padding-bottom: 40px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&:hover {
				opacity: 1;
			}			

			@include breakpoint(xs) {							
				display: inline-block;
				padding-top: 20px;
				padding-bottom: 20px;				
			}			
		}


		@include breakpoint(xs) {			
			margin: 0;
		}
	}

	.nav-previous {

		a {
			padding-left: 22px;

			&::before {
				left: 0;
			    background-image: url(../img/icons/right-arrow.svg);
			    background-repeat: no-repeat;
			    background-position-y: center;
			    background-size: 12px;
			    transform: rotate(-180deg);
			}
		}

		@include breakpoint(xs) {			
			background-color: darken($gray-lightest, 1.5%);
		}
	}

	.nav-next {

		a {
			padding-right: 22px;

			&::after {
				right: 0;
			    background-image: url(../img/icons/right-arrow.svg);
			    background-repeat: no-repeat;
			    background-position-y: center;		    
			    background-size: 12px;
			}			
		}

		@include breakpoint(xs) {			
			background-color: darken($gray-lightest, 3%);
		}		
	}	
}   