//## Variables

//** Colors
$default: 	    #ffffff;
$primary: 	    #003b56;
$secondary:     #94bca2;
$tertiary:	    #262626;

$archive: 		#c4d2d6;

$gray-base:	    #000000;
$gray: 	  	    #222b31;
$gray-light:    #808080;
$gray-lighter:  #999999;
$gray-lightest: #f1f1f1;

$salmon:       	#fcf2f2;

$cola:		 #f03f3f;
$lemon: 	 #ffdc54;
$orange:	 #ffb55e;
$apfel:		 #469c36;
$cola-light: #b6b2b3;
$raspberry:  #d65676;
$energy:	 #6537f1;



//** Structure
$spacing: 20px;
$spacing-m: 10px;
// $site-width: 100%;
$site-width: 1520px;


//** Typography
$primary-font:   'Poppins', sans-serif;
$secondary-font: 'Poppins', sans-serif;

$primary-artistic:   'WickedGrit';
$secondary-artistic: 'Sexsmith-Regular';

$h1: 72px;
$h2: 62px;
$h3: 49px; 
$h4: 32px;
$h5: 24px;
$h6: 20px;


//** UI
$border-radius-base: 5px;

//-- Button
$btn-border-radius:  $border-radius-base;

//-- Tag
$tag-border-raduis:  12px;


