//## Accesories
@import "../_variables";
@import "../_mixins";

.accessories-section {	

	@include breakpoint(sm) {

		.container {
			padding: 0;
		}
	}	
}

.accessories {
	padding-top: $spacing;
	padding-right: ($spacing * 3);
	padding-left: ($spacing * 3);	

	@include breakpoint(md) {
		padding-right:  ($spacing);
		padding-left: ($spacing);				
	}

	@include breakpoint(sm) {
		padding-right: $spacing;
		padding-left: $spacing;				
	}
}

.accessories {

	.accessory {
		width: 50%;
		float: left;
		padding-right: ($spacing * 2);
		padding-left: ($spacing * 2);
		margin-bottom: ($spacing * 2);
		position: relative;

		@include breakpoint(md) {
			padding-right: ($spacing * 1);
			padding-left: ($spacing * 1);
		}

		@include breakpoint(sm) {			
			width: 50%;
			padding-right: 0;
			padding-left: 0;			
		}

		@include breakpoint(xs) {
			width: 90%;
			padding-right:  0;
			padding-left: 0;
		}	

		&__inner {
			position: relative;
		}

		&__details {
			position: absolute;
			padding: ($spacing * 1.5) $spacing;		
			width: 100%;
			top: 0;

			@include breakpoint(xs) {
				height: 100%;
				top: auto;
				bottom: 0;
				@include flexbox;
				@include flex-direction(column);
				@include justify-content(space-between);
			}
		}

		&__image {

			img {
				display: block;
				margin: 0 auto;
			}			
		}	

		&__title {

			@include breakpoint(xs) {
				margin-bottom: ($spacing / 4);
			}				
		}

		&__copy {
			margin-bottom: $spacing;
			font-size: 85%;

			@include breakpoint(xs) {
				margin-bottom: ($spacing / 1.5);
				font-size: 70%;
			}		
		}

		&__footer {
			width: 100%;
			text-align: left;
			font-weight: 600;
			padding: $spacing 0;
			margin: 0 auto;
			position: relative;	
			z-index: 1;	
			@include flexbox;
			@include flex-direction(column);					
			@include justify-content(center);
			@include align-items(center);			
		}

		&__package {
			position: absolute;
			width: 100%;
			max-width: 25%;
			bottom: 0;
			left: 85%;

			@include breakpoint(md) {
				max-width: 40%;
				position: relative;
				left: 0;
				right: 0;
			}		

			@include breakpoint(sm) {
				max-width: 40%;
				position: relative;
				left: 0;
				right: 0;				
			}

			@include breakpoint(xs) {
				max-width: 40%;
				position: relative;
				left: 0;
				right: 0;				
			}
		}		
	}

	.accessory {

		&:nth-child(2n) {

			.accessory__package {
				left: auto;
				right: 85%;

				@include breakpoint(md) {
					max-width: 40%;
					position: relative;
					left: 0;
					right: 0;					
				}		

				@include breakpoint(sm) {
					max-width: 40%;
					position: relative;
					left: 0;
					right: 0;					
				}

				@include breakpoint(xs) {
					max-width: 40%;
					position: relative;
					left: 0;
					right: 0;					
				}
			}		
		}
	}	
}