//## All products
@import "../_variables";
@import "../_mixins";

.site-main {	
	@include transition(all .5s ease);	
}

.all-products {
	width: 100%;
	height: 100%;
	height: calc(100% - 62px);
	top: auto;
	bottom: 0;
	background-color: #eeeeee;
	z-index: 1041;

	&__inner {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: $site-width;
		background-color: $default;
		min-height: calc(100vh - 62px);
	}

    &__header {
    	padding: $spacing 10px;
    }
}

.all-products {

	.product-item {
		display: block;
		float: left;
		width: 33.333%;
		padding: 0;
		margin: 0 0 ($spacing * 1.5);
		text-align: left;
		background-color: $default;

		@include breakpoint(xs) {
			margin: 0 0 ($spacing / 2);
		}

		&__inner {
			padding: 20px;
		}

		&__image {
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&__header {
			min-height: 190px;
			@include flexbox;
			@include flex-direction(column);
			@include justify-content(center);
			@include flex-shrink(0);
			@include align-items(flex-start);

			@include breakpoint(xs) {
				min-height: auto;			
			}
		}

		&:hover {
			border-color: #ddd;
		}

	    @include breakpoint(md) {
	    	width: 50%;
	    }

	    @include breakpoint(sm) {
	    	width: 50%;
	    }

	    @include breakpoint(xs) {
	    	width: 100%;
	    }
	}
}
