//## Banner
@import "../_variables";
@import "../_mixins";

.banner-section {
	width: 100%;
	float: left;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
}

.banner-section-content {
	width: 100%;
	padding: ($spacing * 4) 0;
	@include flexbox;
	@include align-items(center);
	@include justify-content(center);
}

.banner-section-copy {
	max-width: 280px;
	text-align: left;
}
