//## Bottles
@import "../_variables";
@import "../_mixins";

.bottles-section {
	margin-top: ($spacing * 5);

	@include breakpoint(sm) {
		margin: 0;
	}

	@include breakpoint(xs) {
		margin: 0;
	}

	&__container {
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 1;
		padding-top: ($spacing * 2);

		@include breakpoint(xs) {
			position: relative;
			padding-top: 0;
			background-color: #cfd551;
		}
	}

	.section-header {

		@include breakpoint(xs) {			
			margin-bottom: 0;
		}			
	}
}