//## All products
@import "../_variables";
@import "../_mixins";

.co2-section {
	position: relative;
	padding-bottom: ($spacing * 2);
	background-color: $primary;

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background-image: url(../img/co2-refill-bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		opacity: .75;

		@include breakpoint(xs) {
			opacity: 1;
		}
	}

	.section-header,
	.container {
		position: relative;
		z-index: 1;		
	}

	.one-for-all-badge {
		position: absolute; 
		top: 80%; 
		left: 50%;
		max-width: 60px;
		transform: rotate(-10deg);
	}

	@include breakpoint(xs) {
		background-attachment: unset;
	}
}

