//## Featured essences
@import "../_variables";
@import "../_mixins";

.featured-essences {
	padding-top: ($spacing * 2);
	padding-bottom: ($spacing * 2);

	@include breakpoint(sm) {

		.slider-mobile {

			.swiper-wrapper {
				@include flexbox;
			}
		}		
	}

	@include breakpoint(xs) {
		padding-bottom: 0;
	}

	.container {

		@include breakpoint(sm) {
			padding: 0;
		}		

		@include breakpoint(xs) {
			padding: 0;
		}
	}

	.essence {
		width: 33.333%;
	    height: auto;
	    min-height: 260px;

		@include breakpoint(md) {
			width: 50%;
		}

		@include breakpoint(sm) {
			// width: 65%;
			width: 100%;
			min-height: 240px;
		}		

		@include bp(ipad-portrait) {
			// width: 50%;
			width: 100%;
			min-height: 240px;
		}

		@include breakpoint(xs) {
			// width: 80%;
			width: 100%;
		}

		@include bp(iphone) {

			&__image,
			&__content {
				width: 100%;
			}

			&__content {
				text-align: center;
			}			

			figure {
				padding: 0;
				width: 100%;				
				max-width: 45%;
				display: block;
				margin: 0 auto;
			}
		}				
	}
}

.essences {

	&.swiper-container-horizontal {

		.essence {
			@include breakpoint(xs) {
				width: 80%;
			}			
		}
	}
}

.essence {

	&.essence-compare {
		@include flexbox;	
		@include align-items(center);
		@include justify-content(center);
	}
}

.featured-essences-bg {
	padding-top: ($spacing * 2);
	padding-bottom: ($spacing * 2);
	background-image: url(../img/essences-bg.png);
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;

	@include breakpoint(xs) {
		padding-bottom: 0;
		background-size: cover;
	}	
}