//## Map section
@import "../_variables";
@import "../_mixins";

.map-section {
	padding-top: ($spacing * 4);
	padding-bottom: ($spacing * 4);
	background-image: url(../img/map-bg.jpg);
	background-size: cover;
	// background-position: center;
	background-position: 50% 30%;

	@include breakpoint(xs) {
		background-position: 100% 30%;
	}

	.map {
		display: block;
		margin-top: $spacing;
		margin-bottom: $spacing;
	}

	.inline-input {
		padding: 0 ($spacing * 1.5);

		@include breakpoint(sm) {
			padding: 0 ($spacing / 2);
		}		

		@include breakpoint(xs) {
			padding: 0 ($spacing / 2);
		}
	}
}