//## Partners
@import "../_variables";
@import "../_mixins";

.partners-section {
	padding-top: ($spacing * 1.5);
	padding-bottom: 0;
	border-bottom: 1px solid $gray-lightest;

	@include breakpoint(xs) {

		.container {
			padding: 0;
		}
	}
}

.partners {

	>.swiper-wrapper {
		@include align-items(center);
	}
}

.partner {
	padding: 0 ($spacing / 2);
	margin-bottom: ($spacing * 1.5);
	@include flex(1);

	&__logo {		
		max-width: 100px;		
		display: block;
		margin: 0 auto;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		filter: gray;
		-webkit-filter: grayscale(100%);
		opacity: .5;
	}

	@include breakpoint(sm) {
		width: auto;
		@include flex(none);
	}

	@include breakpoint(xs) {
		width: auto;
		@include flex(none);
	}
}