//## Units
@import "../_variables";
@import "../_mixins";

#sodamaker {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100px;
		background-color: $default;
	}	
}

.unit {
	text-align: center;
	padding-top: ($spacing * 2);
	padding-bottom: ($spacing * 2);
	position: relative;

	&.sharon {
		background-color: #f1f1f1;
	}

	&.jerry {
		background-color: #94bca2;
	}
}

.unit {

	&__header {
		position: relative;
		z-index: 1;		
	}

	&__title {
		font-size: $h1;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 400;

		&.sharon {
			font-family: $secondary-artistic;
			font-weight: normal;
		}

		&.jerry {				
			font-family: $primary-artistic;
			color: $default;
			font-weight: normal;
		}
	}

	&__photo {
		max-width: 80%;
		display: block;
		margin: $spacing auto 0 auto;
		position: relative;
		z-index: 1;

		@include breakpoint(xs) {
			max-width: 100%;
			margin: 0 auto;
		}		
	}

	&__footer {
		width: 100%;
		text-align: left;
		font-weight: 600;
		padding: 0;
		margin: 0 auto;
		position: relative;	
		z-index: 1;	
		@include flexbox;				
		@include flex-direction(row);		
		@include justify-content(flex-end);

		@include breakpoint(md) {
			@include align-items(center);
			@include flex-direction(column);
			@include justify-content(center);
		}

		@include breakpoint(sm) {
			@include align-items(center);
			@include flex-direction(column);
			@include justify-content(center);
		}

		@include breakpoint(xs) {
			@include align-items(center);
			@include flex-direction(column);
			@include justify-content(center);
		}
	}

	&__footer-copy {
		position: absolute;
		width: 100%;
		padding: ($spacing * 2) 25% 0;
		left: 0;

		@include breakpoint(md) {
			padding: 0 0 $spacing;
			text-align: center;
			position: relative;
		}

		@include breakpoint(sm) {
			padding: 0 0 $spacing;
			text-align: center;
			position: relative;
		}

		@include breakpoint(xs) {
			padding: 0 0 $spacing;
			text-align: center;
			position: relative;
		}
	}

	&__package {		
		width: 100%;
		max-width: 20%;

		@include breakpoint(md) {
			max-width: 40%;
		}		

		@include breakpoint(sm) {
			max-width: 40%;
		}

		@include breakpoint(xs) {
			max-width: 40%;
		}
	}
}


.unit {

	&:nth-child(2n) {

		.unit__footer {
			@include flex-direction(row-reverse);

			@include breakpoint(md) {
				@include flex-direction(column);
			}			

			@include breakpoint(sm) {
				@include flex-direction(column);
			}			

			@include breakpoint(xs) {
				@include flex-direction(column);
			}
		}		
	}	
}

// .unit-link {
// 	width: 44px;
// 	height: 44px;
// 	border-radius: 50%;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	background-color: $energy;
// 	background-image: url(../img/icons/add.svg);
// 	background-size: 20px;
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	@include transition(box-shadow .3s ease);
// }

// .unit-link-tt {
// 	width: 100%;
// 	min-width: 220px;
// 	text-align: left;
// 	padding: ($spacing / 2) $spacing;
// 	background: $default;
// 	top: 100%;
// 	left: 50%;
// 	margin: $spacing 0;	
// 	position: absolute;
// 	display: none;
// 	z-index: 1;
// 	will-change: auto;	

// 	@include breakpoint(md) {
// 		min-width: 180px;
// 	}	

// 	@include breakpoint(xs) {
// 		left: auto;
// 		right: 50%;
// 		min-width: 160px;
// 	}

// 	&::before {
// 		content: '';
// 		position: absolute;
// 		left: 0;
// 		bottom: 100%;
// 		width: 0;
// 		height: 0;
// 		border-style: solid;
// 		border-width: 15px 0 0 15px;
// 		border-color: transparent transparent transparent $default;		

// 		@include breakpoint(xs) {
// 			left: auto;
// 			right: 0;
// 			border-width: 0 0 15px 15px;
// 			border-color: transparent transparent $default transparent;
// 		}		
// 	}

// 	&__header {
// 		font-size: 100%;
// 		margin: 0 0 ($spacing / 4);		
// 		display: block;
// 		color: $gray;
// 		clear: both;
// 	}

// 	&__body {
// 		line-height: 1.2;
// 		display: block;
// 		clear: both;
// 		color: $gray;
// 		@extend .u-text-xs;
// 	}
// }
