//## Banner
@import "_variables";
@import "_mixins";


.swiper-slide {

	&.banner {
		position: relative;
		height: auto;
		float: left;

		img {
			display: block;
			float: left;
			opacity: 0;
			will-change: opacity;
			@include transition(opacity .5s ease);
		}		
	}
}

.banners-slider {

	&:not([style]) {

		img {
			opacity: 1;
		}
	}
}