//## Card
@import "_variables";
@import "_mixins";

.card {

	&__inner {
		padding: ($spacing * 2);
		background-color: $default;
		height: 100%;
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(flex-start);
		@include align-items(flex-start);

		@include breakpoint(xs) {
			padding: ($spacing * 1.5);
		}
	}
}
