//## Defaults
@import "_variables";
@import "_mixins";

html,
body {  
    font-family: $primary-font;  
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: $default;
    background-color: #eee;
    animation: fadeIn .3s;
}

.site {  
    width: 100%;
    max-width: $site-width;
    display: block;  
    margin: 62px auto 0;
    background-color: $default;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);    
}

.site-content {
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

