//## Essence
@import "_variables";
@import "_mixins";

.essence {
	background-color: $gray-lightest;	
	padding: ($spacing * 1.5) ($spacing / 2);
	margin-bottom: ($spacing * 2);

	@include breakpoint(sm) {
		margin-bottom: ($spacing / 2);		
	}

	@include breakpoint(xs) {
		margin-bottom: ($spacing / 2);		
	}	

	&__image {
		padding-left: $spacing;

		img {
			width: auto;
			max-height: 200px;

			@include breakpoint(xs) {
				max-height: 200px;
			}
		}
	}

	&__title {
		line-height: 1;
		color: $default;
		margin-bottom: ($spacing / 2);
	}

	&__summary {
		color: $default;
		color: rgba($default, .75);
		margin-bottom: $spacing;		
	}

	&__badge {
		width: 55px;
		height: 55px;
		line-height: 55px;
		font-weight: 400;
		padding: 0 !important;
		position: absolute;
		top: 20px;
		left: 5px;
		border-radius: 50%;
		overflow: hidden;
		background-color: transparent;
		@include flexbox;
		@include align-items(center);		

		@include bp(iphone) {
			left: 5px;
		}

		img {
			@include flex-shrink(0);
		}
	}

	@include breakpoint(xs) {
		margin-bottom: 0;
	}	
}
