//## Footer
@import "_variables";
@import "_mixins";

.site-footer {
	width: 100%;
	float: left;
	background-color: $default;

	body:not(.home) & {
		background-color: lighten($gray-lightest, 2.5%);
	}
}

.site-footer-widgets {
	padding-top: ($spacing * 2);
	padding-bottom: ($spacing * 1);	

	@include breakpoint(xs) {
		padding-left: ($spacing / 2);
		padding-right: ($spacing / 2);
	}		
}

.site-footer-credits {
	padding-top: $spacing;
	padding-bottom: $spacing;
	border-top: 1px solid $gray-lightest;

	@include breakpoint(xs) {
		text-align: center;
	}
}

.widget {
	margin-bottom: ($spacing * 2);

	&__title {
		@extend .u-text-sm;
		@extend .pretitle;
	}
}

.widget-list {

	&__item {
		margin-bottom: 5px;
		@extend .u-text-sm;		
	}
}

.widget {

	.menu-item {
		margin-bottom: 5px;
		@extend .u-text-sm;

		a {
			color: $gray;
		}
	}
}

.widget-contact {

	&__address {
		font-weight: 600;
		@extend .u-text-sm;
	}

	&__item {
		margin-bottom: 5px;
	}
}

.widget-newsletter {

	.inline-input {

		@include breakpoint(sm) {
			max-width: 90%
		}		
	}

	&__info {
		font-weight: 600;
		margin-bottom: $spacing;
		@extend .u-text-xs;
	}
}

.footer-social {
	@include flexbox;
	@include align-items(center);

	@include breakpoint(xs) {
		margin: $spacing 0;
		@include flexbox;
		@include flex-direction(column);		
	}
}

.social {
	margin: 0 10px;

	@include breakpoint(xs) {
		margin: ($spacing / 2);
	}	

	&__item,
	.menu-item {
		display: inline-block;
		padding: 0 5px;
	}
}

.site-footer-logo {
	float: right;

	img {
		margin: 0 auto;
		display: block;		
	}

	@include breakpoint(xs) {
		float: none;
	}	
}