//## Grid with flexbox
@import "../_variables";
@import "../_mixins";

//** Custom bootstrap container
.container {
	width: 100%;
	max-width: 1200px;
	padding-left: $spacing;
	padding-right: $spacing;
	clear: both;

	@include breakpoint(xs) {
		padding-left: $spacing-m;
		padding-right: $spacing-m;
	}
}

.container-fluid {
	padding-left: $spacing;
	padding-right: $spacing;
	clear: both;

	@include breakpoint(xs) {
		padding-left: $spacing-m;
		padding-right: $spacing-m;
	}		
}

//** Custom bootstrap row
.row {
	margin-left: -$spacing;
	margin-right: -$spacing;

	&.flex {
		@include flexbox;
		@include flex-direction(row);
		@include justify-content(flex-start);
		@include align-items(center);

		&.alignStart {
			@include align-items(flex-start);
		}

		&.alignEnd {
			@include align-items(flex-end);
		}		

		@include breakpoint(xs) {
			@include flex-wrap(wrap);
		}
	}

	&.sm {
		margin-left: -$spacing-m;
		margin-right: -$spacing-m;		
	}

	@include breakpoint(xs) {
		margin-left: -$spacing-m;
		margin-right: -$spacing-m;
	}
}

//** Custom bootstrap column
[class*='col-'] {
	float: left;
	padding-left: $spacing;
	padding-right: $spacing;

	.sm & {
		padding-left: $spacing-m;
		padding-right: $spacing-m;		
	}

	@include breakpoint(xs) {
		padding-left: $spacing-m;
		padding-right: $spacing-m;
	}
}

//** Classes for rows
.rowReverse {

	@include breakpoint(xs) {
		@include flex-direction(row-reverse);
	}
}

.columnReverse {

	@include breakpoint(xs) {
		@include flex-direction(column-reverse);
	}
}