//## Header
@import "../_variables";
@import "../_mixins";

.site-header {
	width: 100%;
	// min-height: 62px;
	// position: absolute;

	.nav-bar {
		width: 100%;		
		top: 0;
		left: 0;
		right: 0;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		z-index: 1045;
		background-color: $primary;		

		body:not(.home) & {
			background-color: $tertiary;
		}

		&__inner {
			padding: 0 20px 0 10px;
			max-width: $site-width;
			margin: 0 auto;
			height: 62px;
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(center);

			@include breakpoint(xs) {
				padding: 0 10px 0 10px;
			}					
		}		
	}

	.sub-nav {
		background-color: $primary;
		width: 100%;
		height: 70px;
		float: left;
		background-image: url(../img/bubbles.svg);
		background-size: contain;
		padding: 0 20px;
		animation: sub-nav-bg-scrolling 2s infinite;
		animation-timing-function: linear;
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);		

		&__image {
			margin-left: 44px;
			max-width: 80px;

			@include breakpoint(xs) {
				margin-left: 0;
			}

			img {
				display: block;
				max-width: 80px;
			}
		}
	}
	
	&__controls {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);		
	}

	&__brand {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);				
	}
}

.controls-group {
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
}

.search-product {		
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 5px 0 0;
	margin: 0;
	overflow: hidden;
	@include flexbox;
	@include align-items(center);

	&.active {
		body:not(.home) & {
			background-color: darken(#262626, 3%);
		}
		background-color: darken($primary, 3%);
	}

	@include breakpoint(xs) {
		position: absolute;
		width: calc(100% - 64px);
		z-index: -1;

		&.active {			
			z-index: 1;			
		}
	}
}

.search-product {

	.quick-search {
		width: 100%;
		display: block;
		height: 62px;
		line-height: 62px;
		padding: 0 10px;
		margin: 0 5px 0 0;
		background-color: transparent;
		border: none;
		color: $default !important;
		outline: none;
		transform: translateX(10px);
		z-index: -1;
		opacity: 0;		
		will-change: opacity;		
		@include transition(opacity .5s ease);
	}

	&.active {

		.quick-search {
			opacity: 1;			
			z-index: 1;
		}
	}
}

.logo-link {
	width: 120px;
}

.logo {
	margin-left: 10px;
}

// @keyframes sub-nav-bg-scrolling {
//   100% { background-position: 0 -70px; }
// }