//## Footer
@import "_variables";
@import "_mixins";


[data-animation="slideUp"] {
	will-change: transform;
	transform: translateY(100%);
	@include transition(transform .5s ease);
}

[data-animation="fadeIn"] {
	will-change: opacity;
	opacity: 0;
	@include transition(opacity 1.5s ease);
}

[data-animation="fadeInUp"] {
	will-change: auto;
	opacity: 0;
	transform: translateY(50px);
	@include transition(all .5s ease);
}

[data-animation="scaleIn"] {
	will-change: transform;
	transform: scale(0.8);
	@include transition(transform .5s ease);
}
