//## Menu
@import "../_variables";
@import "../_mixins";

.site-menu {
	width: 100%;
	max-width: 420px;
	height: calc(100vh - 62px);
	overflow: auto;
	overflow-x: hidden;
	padding: $spacing ($spacing * 1.5) ($spacing * 2);
	position: fixed;
	top: 62px;
	right: 0;
	z-index: 100;
	background-color: $default;
	// box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
	transform: translateX(100%);	
	will-change: auto;	
	@include transition(all .3s ease);	
	
	&.active {
		transform: translateX(0);
	}
}

.site-menu {

	&__title {
		font-weight: 400;
		color: $gray-lighter;
		margin-bottom: $spacing;
	}	
}

.nav {
	margin-bottom: $spacing;

	&__item,
	.menu-item {
		display: block;
		clear: both;
		padding: 5px 0;
		margin-bottom: 5px;
		font-weight: 300;
		color: $gray;
		line-height: 1;

		a {
			color: $gray;
		}

		&--lg {
			font-size: 20px;
			font-weight: 700;
		}

		&.lg {
			font-size: 20px;
			font-weight: 700;			
		}
	}
}

.site-menu-contacts {

	&__title {
		font-weight: 400;
		color: $gray-lighter;
		margin-bottom: ($spacing / 2);
	}
}

.contacts-list {

	&__item {		

		span {
			color: $gray-lighter;
		}		
	}

	&__link {
		color: $gray;
		display: block;
		padding: ($spacing / 6) 0;
	}

	&__address {
		display: block;
		margin: ($spacing / 2) 0 0;
	}
}