//## Product

@import "_variables";
@import "_mixins";

.product {
	width: 100%;
	display: block;
	float: left;		
	padding: 0;


	&__summary {
		padding-top: $spacing;
	}

	&__btn {
		padding-bottom: $spacing;
	}

	&__id {
		margin-top: $spacing;
	}

	&__image {
		position: relative;
	}

	&__badge {
		position: absolute;
		top: 20%;
		left: 20%;
		margin-top: auto;
		margin-bottom: auto;
		width: 100%;
		max-width: 120px;
	}	
}

.product-section {
	width: 100%;
	display: block;
	float: left;	
	padding-top: ($spacing * 3);
	padding-bottom: ($spacing * 3);
}

.product-intro-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: ($spacing * 3);
	padding-bottom: ($spacing * 3);
	background-attachment: fixed;

	@include breakpoint(xs) {
		padding-top: ($spacing * 2);
		padding-bottom: 0;
		background-attachment: unset;
	}
}

.product-headline {
	margin-bottom: ($spacing * 2);
}

.product-summary {
	width: 100%;
	max-width: 85%;	
	margin-bottom: ($spacing * 2);

	@include breakpoint(md) {
		max-width: 100%;	
	}

	@include breakpoint(sm) {
		max-width: 100%;	
	}

	@include breakpoint(xs) {
		max-width: 100%;	
	}	
}

.product-details {
	margin-bottom: ($spacing * 2);
	// mix-blend-mode: multiply;

	img {
		display: block;
		margin: 0 auto;		
	}
}

.product-image {
	margin: 0 auto;
	width: 100%;
	max-width: 550px;
	position: relative;


	@include breakpoint(md) {
		max-width: 100%;
	}

	@include breakpoint(xs) {
		margin-bottom: $spacing;
	}	

	.btn-play {
		position: absolute;
		top: 20%;
		left: 45%;		

		@include breakpoint(xs) {
			width: 100%;
			max-width: 200px;
			top: auto;
			left: 0;
			right: 0;
			bottom: 0;			
			margin: ($spacing * 1.5) auto;
		}		
	}	
}

.spec-list {	
	max-width: 400px;
	color: $gray-light;
	margin-bottom: ($spacing * 2);

	figure {

		.list-icon {
			min-height: 60px;
			margin-bottom: ($spacing / 2);
			@include flexbox;
			@include align-items(flex-end);
		}		

		img {
			height: 54px;
			width: auto;
			display: block;
			margin: 0 auto;
			@include flex-shrink(0);


			&.bottle-item {
				max-height: 44px;
			}

			&.co2-cylinder-item {
				max-height: 40px;
			}
		}

		div {			
			overflow: hidden;
			text-align: center;
			text-overflow: ellipsis;

			@include breakpoint(xs) {
				max-width: 100px;
			}
		}
	}
}


//** Product grid layout (archive)
.products-grid {
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	@include flex-wrap(wrap);

	.product {
		width: 30%;		
		margin-bottom: $spacing;
		@include flex-shrink(0);

		@include breakpoint(sm) {
			width: 48.5%;
		}

		@include breakpoint(xs) {
			width: 100%;
		}		

		&__image {
			width: 100%;				
			display: block;
			float: left;
			background-color: $gray-lightest;
			position: relative;
			overflow: hidden;

			.image-container {
				width: 100%;				
				display: block;
				float: left;
				will-change: auto;
				@include transition(all .3s ease);
			}

			.primary-image,
			.secondary-image {
				will-change: auto;
				@include transition(all .75s ease);
			}

			.primary-image {
				opacity: 1;
				transform: translateX(0) scale(1);
			}

			.secondary-image {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				opacity: 0;
				transform: translateX(50%) scale(.8);
			}

			img {
				margin-top: ($spacing * 2);
				margin-bottom: ($spacing * 2);
				padding-left: $spacing;
				padding-right: $spacing;				
				max-height: 350px;
				width: auto;
				will-change: transform;
				@include transition(transform .5s ease);
			}
		}

		&__header {
			width: 100%;				
			display: block;
			float: left;			
			background-color: $default;
			text-align: center;
			padding: ($spacing / 2);
		}

		&__title {
			color: $gray;
			margin: 0 0 ($spacing / 3);
		}

		&__id {
			color: $gray-lighter;
		}

		&:hover {

			.primary-image {
				opacity: 0;
				transform: translateX(-50%) scale(.8);
			}

			.secondary-image {
				opacity: 1;
				transform: translateX(0) scale(1);
			}
		}
	}
}
