//## Sections
@import "../_variables";
@import "../_mixins";

.section {
	width: 100%;
	display: block;	
	float: left;
	position: relative;
}

.section-header {
	margin-top: ($spacing * 2);
	margin-bottom: ($spacing * 2);

	&__image {
		width: 100%;
		max-width: 300px;
		padding: $spacing;
		display: block;
		margin: ($spacing * 2) auto 0 auto;
	}	
}

.section-container {
	padding-top: $spacing;
	padding-bottom: $spacing;	
	max-width: 1160px;
	display: block;
	clear: both;	
	margin: 0 auto;	
}

.section-background {
	width: 100%;
	// min-height: 75vh;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;

	@include breakpoint(xs) {
		// min-height: 400px;
		// min-height: 75vh;
		min-height: auto;
	}
}

.section-photo {
	padding-top: $spacing;
	padding-bottom: $spacing;

	img {
		display: block;
		margin: 0 auto;

		@include breakpoint(xs) {
			max-width: 90%;
		}
	}
}

.section-photo-parallax {

	.container {

		@include breakpoint(xs) {
			padding: 0;
		}			
	}

	img {
		display: block;
		margin: 0 auto;

		@include breakpoint(xs) {
			max-width: 100%;
		}
	}
}