//## Slider
@import "_variables";
@import "_mixins";

.slider {
	width: 100%;	
	display: block;
	float: left;
	overflow: hidden;
}

.swiper-slide {

	.swiper-lazy {
		opacity: 0;
		will-change: opacity;
		@include transition(opacity .5s ease);

		&.swiper-lazy-loaded {
			opacity: 1;
		}
	}
}

.slider-mobile {

	.swiper-wrapper {
		display: block;		

		@include breakpoint(xs) {
			@include flexbox;			
		}
	}

	.swiper-slide {
		width: auto;
		display: block;

		@include breakpoint(xs) {
			width: 100%;
		}
	}
}

//** Slider pagination
.pagination {
	z-index: 1;

	.swiper-pagination-bullet {
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background-color: transparent;
		opacity: 1;
		position: relative;		
		will-change: auto;
		@include transition(all .3s ease);

		&::after {
			content: '';
			width: 8px;
			height: 8px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background-color: $primary;
			border-radius: 50%;
			box-shadow: 0 0 5px rgba($gray-base, .5);
		}
	}

	.swiper-pagination-bullet-active {
		background-color: rgba($primary, .2);
	}

	&--default {

		.swiper-pagination-bullet {

			&::after {
				background-color: $default;
			}
		}

		.swiper-pagination-bullet-active {
			background-color: rgba($default, .2);
		}
	}	
}

//** Banners slider
.banners-slider {	
	background-color: $default;
	position: relative;

	.pagination {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: ($spacing / 4) 0;
		padding: 0 10px;		

		@include breakpoint(md) {
			text-align: center;
		}

		@include breakpoint(sm) {
			text-align: center;
		}

		@include breakpoint(xs) {
			text-align: center;
		}
	}
}

//** About us slider
.about-slider {

	.about-slide {

		@include breakpoint(xs) {
			max-width: 70%;
		}
	}
}