//## Typography
@import "../_variables";
@import "../_mixins";

//** Fonts

@font-face {
    font-family: 'Sexsmith-Regular';
    src: url('../fonts/Sexsmith-Regular.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/Sexsmith-Regular.woff') format('woff'), 
         url('../fonts/Sexsmith-Regular.ttf')  format('truetype'), 
         url('../fonts/Sexsmith-Regular.svg#Sexsmith-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WickedGrit';
    src: url('../fonts/WickedGrit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WickedGrit.woff') format('woff'),
         url('../fonts/WickedGrit.ttf')  format('truetype'),
         url('../fonts/WickedGrit.svg#WickedGrit') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5
h6, .h6 {
	font-weight: 600;
    line-height: 1.2;
    font-family: $primary-font;
    margin-bottom: $spacing;
}

h1,
.h1 {
    font-size: $h1;
}

h2,
.h2 {
    font-size: $h2;
}

h3,
.h3 {
    font-size: $h3;
}

h4,
.h4 {
    font-size: $h4;
}

h5,
.h5 {
    font-size: $h5;
    font-weight: 600;
}

h6,
.h6 {
    font-size: $h6;
}

.copy {
    // color: $gray-lighter;
    color: $gray-light;
    font-weight: 400;

    p {
        margin-bottom: $spacing;
    }

    &--color-default {
        color: $default;
        color: rgba($default, .8);
    }
}

.copy {
    
    ul, ol {
        margin: 0 0 1.5em 3em;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    li > ul,
    li > ol {
        margin-bottom: 0;
        margin-left: 1.5em;
    }    
}

.pretitle,
.subtitle {
    font-weight: 600;
    color: $gray-lighter;
    line-height: 1.5;
}

//** Tablet
@include breakpoint(sm) {
    h1,
    .h1 {
        font-size: ($h1 / 2);
    }
    h2,
    .h2 {
        font-size: ($h2 / 2);
    }
    h3,
    .h3 {
        font-size: ($h3 / 2);
    }
    h4,
    .h4 {
        font-size: ($h4 / 1.2);
    }
    h5,
    .h5 {
        font-size: ($h5 / 1.2);
    }
    h6,
    .h6 {
        font-size: ($h6 / 1.2);
    }
}

//** Mobile
@include breakpoint(xs) {
    h1,
    .h1 {
        font-size: ($h1 / 2);
    }
    h2,
    .h2 {
        font-size: ($h2 / 2);
    }
    h3,
    .h3 {
        font-size: ($h3 / 2);
    }
    h4,
    .h4 {
        font-size: ($h4 / 1.2);
    }
    h5,
    .h5 {
        font-size: ($h5 / 1.2);
    }
    h6,
    .h6 {
        font-size: ($h6 / 1.2);
    }
}