//## Utilities
@import "../_variables";
@import "../_mixins";

//** Flexbox
.u-flexbox {
	@include flexbox;

	@include breakpoint(sm) {
		@include flex-wrap(wrap);
	}	

	@include breakpoint(xs) {
		@include flex-wrap(wrap);
	}
}

.u-reverse-mobile {

	@include breakpoint(xs) {
		@include flexbox;
		@include flex-direction(column-reverse);
	}	
}

.u-flex-align-center {
	@include align-items(center);
}

.u-no-wrap {
	@include flex-wrap(nowrap);	
}

//** Background
.u-bg-gray-lightest {
	background-color: $gray-lightest;
}
.u-bg-primary {
	background-color: $primary;
}
.u-bg-cola {
	background-color: $cola;
}
.u-bg-lemon {
	background-color: $lemon;
}
.u-bg-orange {
	background-color: $orange;
}
.u-bg-apfel {
	background-color: $apfel;
}
.u-bg-cola-light {
	background-color: $cola-light;
}
.u-bg-raspberry {
	background-color: $raspberry;
}
.u-bg-energy {
	background-color: $energy;
}
.u-bg-secondary {
	background-color: $secondary;
}


//** Colors
.u-color-gray {
	color: $gray;
}

.u-color-default {
	color: $default;
}

.u-color-primary {
	color: $primary;
}

.u-color-orange {
	color: $orange;
}

.u-color-gray-lighter {
	color: $gray-lighter;
}

//** Padding
.u-no-padding {
	padding: 0;
}

.u-no-padding-top {
	padding-top: 0;
}

//** Margin
.u-no-margin-top {
	margin-top: 0;
}

//** Fonts 
.u-font-artistic-primary {
	font-family: $primary-artistic;
}
.u-font-artistic-secondary {
	font-family: $secondary-artistic;
}

//** Text sizes
.u-text-sm {
	font-size: 14px;
}

.u-text-xs {
	font-size: 12px;
}

.u-copy-lg {
	font-size: 18px;
	font-weight: 600;
}

.u-font-normal {
	font-weight: 400;
}

//** Show/hide
.u-fade-out {
	opacity: 0;
}

//** Images
.u-img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;

	img {
		margin-left: auto;
		margin-right: auto;
	}
}