//## About
@import "../_variables";
@import "../_mixins";

.about {
}

.about-section {
	width: 100%;
	float: left;
	padding: ($spacing * 2) 0;

	figure > img {
		max-width: 180px;
	}	
}

.general-info {
	background-image: url(../img/about-bg.jpg);
	background-size: cover;
	background-position: right;
}

.contact-us {
	padding: ($spacing * 3) 0;

	.section-header {
		margin-top: 0;
	}
}

.contact-info {
	margin-bottom: ($spacing * 2);

	&__headline {
		margin-top: 0;
		margin-bottom: ($spacing / 2);
	}

	a {
		color: $default;

		&.email-address {
			border-bottom: 1px solid rgba($default, .5);
		}
	}
}

.about-logo {
	width: 50%;
	max-width: 220px;
	display: block;
	margin: 0 auto 20px;
}
