//## Faq
@import "../_variables";
@import "../_mixins";

.faq {

	&__header {
		width: 100%;
		float: left;
		margin: ($spacing * 3) auto;
	}

	&__body {
		margin-bottom: ($spacing * 2);
	}

	.copy {


	    ul {        
	        list-style-type: disc;
	        padding-left: 40px;
	        margin-top: 10px;
	        margin-bottom: 20px;
	    }		
	}
}
