//## Page
@import "../_variables";
@import "../_mixins";

.page {
    float: left;
    width: 100%;
    display: block;
}

.page-header {
	width: 100%;
	float: left;
	margin: 0;
	background-color: $gray-lightest;
	padding: ($spacing * 3) 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: none;

	@include breakpoint(xs) {
		padding: ($spacing * 2) 0;
	}

	&__title {
		margin: 0;
	}
}

.page-section {
	width: 100%;
	float: left;
	padding: ($spacing * 2) 0;	

	@include breakpoint(xs) {
		padding: $spacing 0;	
	}
}