//## Press
@import "../_variables";
@import "../_mixins";

.press {

}

.press-section {
	width: 100%;
	float: left;
	padding: ($spacing * 2) 0;
}

.press-cards {
	float: left;
	height: auto;
	margin-top: $spacing;
	@include flex-wrap(wrap);
}

.press-card {
	margin-bottom: ($spacing * 2);	

	&__date {
		background-color: $secondary;
		margin-bottom: ($spacing / 2);
	}

	&__image {
		width: 100%;		

		img {
			width: auto;
			max-height: 200px;
			margin: 0 auto;
		}
	}

	&__title {
		margin-bottom: ($spacing / 2);		
	}

	&__content {
		margin-bottom: $spacing;
		width: 100%;

		p {
			font-size: 14px;
		}
	}

	.btn {
		margin-top: auto;
	}
}

.press-contact {
	background-color: #e3a82c;
}

.press-contact-list {
	margin-bottom: ($spacing * 2);

	&__item {
		color: $default;
		margin-bottom: 5px;

		a {
			color: $default;
			color: rgba($default, .6);

			&:hover {
				color: $default;
			}
		}
	}
}

.press-contact-footer {
	margin-top: ($spacing * 1);
	padding: ($spacing * 1.5) 0;
	background-color: rgba($default, .1);
}