//## Accordion

@import "../_variables";
@import "../_mixins";

.panel {
	background-color: transparent;	
	box-shadow: none;
	border: none;
	margin-bottom: ($spacing / 3);

	@include breakpoint(xs) {
		background-color: $default;	
		box-shadow: inherit;
		border: inherit;		
	}	
}

.panel {

	.panel-heading {
		border: none;
		box-shadow: none;	
		position: relative;
		padding-left: 44px;
		border-radius: 0;
		background-color: transparent;

		a {

			&::before,
			&::after {
				content: '';
				display: block;
				width: 24px;
				height: 24px;				
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				margin: auto 10px;
			}

			&::before {
				border: 1px solid $gray-lighter;
			}

			&::after {
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 455 455"><path d="M455 212.5H242.5V0h-30v212.5H0v30h212.5V455h30V242.5H455"/></svg>');
				background-size: 12px;
				background-repeat: no-repeat;
				background-position: center;
				will-change: transform;
				@include transition(transform .3s ease);
			}

			&[aria-expanded="true"] {

				&::after {
					transform: rotate(45deg);
				}
			}
		}

		@include breakpoint(xs) {
			line-height: 1.5;
			padding-top: ($spacing / 2);
			padding-bottom: ($spacing / 2);
		}
	}
}

.panel-collapse {
	border: none;
	box-shadow: none;
}

.panel-footer {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.panel-body {
	padding-top: 0;
	padding-left: 44px;
}