//## Badge

@import "../_variables";
@import "../_mixins";

.badge {
	appearance: none;
	outline: none;
	border: none;
	font-weight: 400;	
	text-shadow: none;
	padding: 4px 10px;

	img {
		outline: none;
	}
}