//## Buttons

@import "../_variables";
@import "../_mixins";

button {
	appearance: none;
	border: none;
	background-color: transparent;
}

.btn {
	font-weight: 600;
	margin: 0;
	padding: 11px 22px;
	color: $gray;	
	background-color: $default;
	border-radius: 44px;
	border: none;
	text-shadow: none;
	@include transition(all .3s ease);
}

//** Button primary
.btn-primary {
	background-color: $primary;
	color: $default;

	&.active,
	&:active,
	&:focus,
	&:hover {
		background-color: darken($primary, 5%);
		color: $default;
		text-shadow: none;
	}	
}

//** Button secondary
.btn-secondary {
	background-color: $secondary;
	color: $default;

	&.active,
	&:active,
	&:focus,
	&:hover {
		background-color: $default;
		color: $gray;
		text-shadow: none;
	}		
}

//** Button link
.btn-link {
	border-radius: 0;
	padding: 3px 0;
	border-bottom: 1px solid $gray;
	background-color: transparent;
	text-decoration: none;
	color: $gray;

	&.active,
	&:active,
	&:focus,
	&:hover {		
		text-decoration: none;
		color: $primary;
		border-color: $primary;
	}	
}

//** Back link
.back-link {
	display: inline-block;
	clear: both;
	position: relative;
	padding-left: 42px;
	color: $default;

	&::before {
		content: '';
		position: absolute;
		top: 0;		
		left: 0;
		width: 32px;
		height: 100%;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400.004 400.004"><path d="M382.688 182.686H59.116l77.21-77.214c6.763-6.76 6.763-17.726 0-24.485-6.765-6.764-17.73-6.764-24.485 0L5.075 187.757c-6.764 6.76-6.764 17.727 0 24.485L111.84 319.017c3.382 3.383 7.813 5.072 12.243 5.072 4.43 0 8.86-1.69 12.242-5.074 6.764-6.76 6.764-17.726 0-24.484l-77.21-77.218H382.69c9.562 0 17.316-7.753 17.316-17.315 0-9.563-7.753-17.315-17.316-17.315z" fill="#FFF"/></svg>');	
		background-repeat: no-repeat;
		background-position: center;
		background-size: 16px;
		will-change: transform;
		@include transition(transform .3s ease);
	}

	&:hover {
		color: $default;

		&::before {
			transform: translateX(-10px);
		}
	}	
}

//** Button more
.btn-more {
	padding: 11px 66px 11px 22px;
	background-image: url(../img/icons/right-arrow.svg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: calc(100% - 20px);
	background-size: 12px;

	@include breakpoint(xs) {
		padding: 11px 44px 11px 22px;
	}	

	&.active,
	&:active,
	&:focus {
		background-image: url(../img/icons/right-arrow.svg);
		background-position-x: calc(100% - 10px);
	}	

	&.btn-primary {
		background-image: url(../img/icons/right-arrow-white.svg);

		&.active,
		&:active,
		&:focus {
			background-image: url(../img/icons/right-arrow-white.svg);
			background-position-x: calc(100% - 10px);
		}		
	}	
}

//** Button download
.btn-download {
	padding: 11px 66px 11px 22px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.479 31.479"><path d="M26.485 21.206c.43-.444.43-1.143 0-1.587-.444-.43-1.16-.43-1.587 0l-8.047 8.043V1.11c0-.618-.49-1.11-1.11-1.11-.62 0-1.124.492-1.124 1.11v26.556l-8.03-8.047c-.445-.43-1.144-.43-1.588 0-.43.44-.43 1.14 0 1.583l9.952 9.952c.43.43 1.142.43 1.586 0l9.95-9.952z" fill="#222b31"/></svg>');	
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: calc(100% - 22px);	
	background-size: 12px;

	&.active,
	&:active,
	&:focus {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.479 31.479"><path d="M26.485 21.206c.43-.444.43-1.143 0-1.587-.444-.43-1.16-.43-1.587 0l-8.047 8.043V1.11c0-.618-.49-1.11-1.11-1.11-.62 0-1.124.492-1.124 1.11v26.556l-8.03-8.047c-.445-.43-1.144-.43-1.588 0-.43.44-.43 1.14 0 1.583l9.952 9.952c.43.43 1.142.43 1.586 0l9.95-9.952z" fill="#222b31"/></svg>');	
	}	
}

//** Header controls
.search-btn,
.cart-btn,
.menu-btn {
	padding: 0;
	margin: 0;
	border: none;	
	width: 44px;
	height: 44px;
	border-radius: $border-radius-base;
	background-color: darken($primary, 2.5%);
	background-color: transparent;	
	position: relative;
	z-index: 10;

	&.active,
	&:active,
	&:focus,
	&:hover {
		background-color: transparent;		
	}
}

.search-btn,
.cart-btn {
	width: 34px;
	margin: 0 1px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;	
}

.search-btn {	
	position: relative;
	outline: none;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;		
		width: 100%;
		height: 100%;
		max-height: 62px;		
		top: 0;
		left: 0;
		background-size: 20px;
		background-position: center;
		background-repeat: no-repeat;		
		will-change: auto;
		@include transition(all .3s ease);
	}

	&::before {
		opacity: 1;
		transform: translateY(0);
		background-image: url(../img/icons/search.svg);
	}	

	&::after {
		opacity: 0;
		background-image: url(../img/icons/add.svg);
		transform: translateY(100%) rotate(45deg);
	}

	&.active,
	.active & {

		&::before {
			opacity: 0;
			transform: translateY(-100%);
		}

		&::after {
			opacity: 1;
			transform: translateY(0) rotate(45deg);
		}		
	}
}

.cart-btn {
	background-image: url(../img/icons/shopping-bag.svg);
}

.lang-btn {
	color: $default;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 386.257 386.257'><path fill='%23FFF' d='M0 96.88l193.13 192.5 193.127-192.5'/></svg>");
	background-size: 8px;
    background-repeat: no-repeat;
    padding: 0 12px 0 0;
    background-position: right;
    margin: 0 0 0 20px;
}

.menu-btn {
	margin-left: ($spacing * 2);
	position: relative;

	@include breakpoint(sm) {
		margin-left: ($spacing);
	}

	@include breakpoint(xs) {
		margin-left: ($spacing);
	}

	&__bar {
		width: 21px;
		height: 1.5px;
		background-color: $default;
		display: block;
		margin: auto;		
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 2px;		
		will-change: auto;
		@include transition(all .2s ease);

		&:nth-child(2) {
			transform: translateY(-7px);
			transition-delay: .3s;
		}

		&:nth-child(5) {
			transform: translateY(7px);	
			transition-delay: .3s;
		}		

		.active & {	

			&:nth-child(2) {
				opacity: 0;
				transform: translateY(-12px);
				transition-delay: .0s;
			}

			&:nth-child(5) {
				opacity: 0;
				transform: translateY(12px);
				transition-delay: .0s;
			}

			&:nth-child(3) {
				transform: rotate(45deg);
				transition-delay: .3s;
			}

			&:nth-child(4) {
				transform: rotate(-45deg);
				transition-delay: .3s;
			}			
		}
	}
}

//** Expand button
.btn-expand {
	width: 44px;
	height: 44px;
	border-radius: 0;
	background-color: transparent;
	padding: 10px;
	position: relative;

	&::before,
	&::after {
		content: '';
		display: inline-block;
		width: 0;
		height: 1.5px;		
		border-radius: 2px;
		background-color: $default;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		opacity: 0;
		@include transition(all .3s ease);
	}

	&::before {
		transform: rotate(-45deg);
	}

	&::after {
		transform: rotate(45deg);
	}	

	&.active {

		&::before,
		&::after {
			opacity: 1;
			width: 24px;			
			transition-delay: .5s;
		}
	}

	&__dot {
		position: absolute;
		top: 14px;
		left: 10px;
		width: 3px;
		height: 3px;
		background-color: $default;
		border-radius: 50%;
		display: inline-block;
		box-shadow: 0 7px 0 0 $default, 0 14px 0 0 $default, 
					7px 0 0 0 $default, 14px 0 0 0 $default, 21px 0 0 0 $default,
					7px 7px 0 0 $default, 14px 7px 0 0 $default, 21px 7px 0 0 $default,
					7px 14px 0 0 $default, 14px 14px 0 0 $default, 21px 14px 0 0 $default;							
		@include transition(all .3s ease);			
		transition-delay: .5s;		

		.active & {
			top: 21.25px;
			left: 21.25px;
			width: 1.5px;
			height: 1.5px;
			box-shadow: 0 0 0 0 $default, 0 0 0 0 $default, 
						0 0 0 0 $default, 0 0 0 0 $default, 0 0 0 0 $default,
						0 0 0 0 $default, 0 0 0 0 $default, 0 0 0 0 $default,
						0 0 0 0 $default, 0 0 0 0 $default, 0 0 0 0 $default;
			@include transition(all .3s ease);
		}
	}
}

//** Bubbles button
.btn-bubbles {
	width: 100%;
	max-width: 100px;
	font-weight: 600;
	color: $default;
	background-color: $primary;
	padding: 0;
	border-radius: 50%;
	text-transform: uppercase;	
	position: relative;
	overflow: hidden;
	background-image: url(../img/bubbles.svg);
	background-size: cover;
	animation: bg-scrolling 2s infinite;
	animation-timing-function: linear;

	@include breakpoint(sm) {
		animation: none;
	}

	@include breakpoint(xs) {
		animation: none;
	}

	&--sm {
		max-width: 70px;

		.btn-bubbles-text {
			transform: scale(.8);
		}
	}

	&::before,
	&::after {
		content: '';
		display: block;
		border-radius: 50%;
		overflow: hidden;
	}

	&::before {
		padding-bottom: 100%;
	}

	&:focus,
	&:hover,
	&:active {
		color: $default;
	}

	&:hover {		
		box-shadow: 0 0 0 10px rgba($gray-base, .05);
	}

	&:active {
		box-shadow: 0 0 0 20px rgba($gray-base, .05);		
	}
}

.btn-bubbles-text {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	line-height: 1;
	letter-spacing: 0.5px;	
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);

	>span {
		display: block;

		&:nth-child(1) {
			font-size: 100%;
		}

		&:nth-child(2) {
			font-size: 110%;
		}

		&:nth-child(3) {
			font-size: 78%;
		}		
	}
}

@keyframes bg-scrolling {
  	to { 
  		background-position: 0 -100px; 
  	}
}

@-webkit-keyframes bg-scrolling {
  	to { 
  		background-position: 0 -100px; 
  	}
}

//** Play
.btn-play {	
	font-size: $h6;
	font-weight: 600;
	color: $gray;	
	padding: 0;
	position: relative;
	border-radius: 72px;
	padding-left: 72px;
	height: 72px;
	background-color: $default;	
	background-color: rgba($default, .75);
	box-shadow: none;
	@include flexbox;
	@include align-items(center);

	@include breakpoint(xs) {
		border-radius: 55px;
		padding-left: 55px;
		height: 55px;		
	}

	&:focus,
	&:hover,
	&:active {
		outline: none !important;
		box-shadow: none;
		color: $gray;
	}

	&:hover {

		.btn-play__icon {
			box-shadow: 0 0 0 10px rgba($gray-base, .05);
		}
	}

	&:active {

		.btn-play__icon {
			box-shadow: 0 0 0 20px rgba($gray-base, .05);		
		}
	}	

	&__icon {
		width: 100%;
		max-width: 72px;
		border-radius: 50%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $secondary;
		@include transition(all .3s ease);

		@include breakpoint(xs) {
			max-width: 55px;
		}

		&::before {
			content: '';
			width: 100%;
			display: block;
			border-radius: 50%;
			overflow: hidden;						
		}		

		&::before {
			padding-bottom: 100%;		
			position: relative;
			z-index: 1;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 357"><path fill="#FFF" d="M38.25 0v357l280.5-178.5"/></svg>');	
			background-size: 35%;		
			background-repeat: no-repeat;
			background-position: 55% 50%;
		}		
	}


	&__text {
		display: block;
		padding: 0 $spacing 0 ($spacing / 2);	    
	    text-overflow: ellipsis;		
	    overflow: hidden;
		@include flexbox;
		@include align-items(center);
	}
}

//** More link
.link-more {
	font-size: $h5;
	color: $gray;
	padding: $spacing ($spacing * 1.5) $spacing $spacing; 
	background-image: url(../img/icons/right-arrow.svg);
	background-size: 14px;
	background-position: center;
	background-repeat: no-repeat;
	background-position: right;

	&.active,
	&:active,
	&:focus,	
	&:hover {
		color: $gray;
	}	

	&--default {
		color: $default;
		background-image: url(../img/icons/right-arrow-white.svg);

		&.active,
		&:active,
		&:focus,
		&:hover {
			color: $default;
		}
	}
}

//** Buttons group
.btn-group {

	.btn {
		border: none;
		border-radius: 3px;
		border: 1px solid;
		border-color: $primary;

		&.active {
			background-color: $primary;
			border-color: $primary;
			color: $default;
			text-shadow: none;
		}
	}
}

[data-toggle="btn-group"] {

	@include breakpoint(xs) {
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);		
	}

	.btn {

		@include breakpoint(xs) {
			padding-left: 10px;
			padding-right: 10px;
			@include flex(1);
		}
	}
}

//** Isotope filters
.btn-group.iso-filters,
.iso-filters,
.btn-group.iso-essence-filters,
.iso-essence-filters,
.btn-group.iso-essences-page-filters,
.iso-essences-page-filters {
    @include flexbox;
    @include justify-content(center);

	.btn,
	.iso-filter {
		background-color: $default;
		border: none;
		box-shadow: none;
		opacity: .65;
		@include transition(opacity .3s ease);

		&:hover,
		&.active {
			background-color: $default;
			color: $gray;
		}

		&:hover {
			opacity: .75;
		}

		&.active {
			opacity: 1;
		}
	}    
}

//** Close
button.close,
.close {
    width: 24px;
    height: 24px;
    z-index: 10;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    opacity: 1;
    background-image: url(../img/icons/add.svg);
    background-size: 24px;
    background-position: center;
    background-repeat: repeat;
}

//** Submit
button[type="submit"] {
	padding-top: 13px;	
	padding-bottom: 13px;
}

//** Sizes
.btn-sm {
	padding-top: 10px;
	padding-bottom: 10px;
}