//## Checkbox

@import "../_variables";
@import "../_mixins";

.checkbox {
	user-select: none;
	margin-bottom: 30px;
	clear: both;

	//-- Hide default checkbox input
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked {
		opacity: 0;
		position: absolute;
		margin: 0;
		z-index: -1;
		width: 0;
		height: 0;
		overflow: hidden;
		left: 0;
		pointer-events: none;
	}	

	//-- Checkbox label
	label {
		font-size: 14px;
		font-weight: 300;		
		height: auto;
		line-height: 1.8;
		// text-align: justify;
		text-align: left;
		display: inline-block;
		position: relative;
		cursor: pointer;
		padding-left: ($spacing * 1.25);

		&:before,
		&:after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
		}

		&:before {
			width: 8px;
			height: 14px;
			top: 3px;
			left: 8px;			
			border-top: 1.5px solid transparent;
			border-left: 1.5px solid transparent;
			border-bottom: 1.5px solid $default;
			border-right: 1.5px solid $default;						
			transform: translateZ(0);
			opacity: 0;
			@include transition(all 200ms ease);
		}

		&:after {
			width: 24px;
			height: 24px;
			background-color: transparent;
			border-radius: 3px;
			border: 1.5px solid;
			border-color: darken($salmon, 10%);
			z-index: 0;
		}	
		
		&.error {

			&:after {
				border-color: rgb(255, 164, 164);
				box-shadow: 2px 2px 20px rgb(255, 164, 164);
			}
		}
	}

	//** Active
	input[type="checkbox"] {

		//-- Not checked
		&:not(:checked) ~ label {

			&:before {
				transform: rotateZ(37deg) scale(0.1);
			}
		}

		//-- Checked
		&:checked ~ label {

			&:before {
				z-index: 1;
				backface-visibility: hidden;
				transform: rotateZ(37deg) scale(1);
				opacity: 1;
			}

			&:after {
				background-color: darken($salmon, 10%);
				border-color: darken($salmon, 10%);
			}
		}
	}

	//** Disabled
	input[type="checkbox"] {

		//-- Checkbox label
		&:disabled ~ label {
			color: $default;
			pointer-events: none;
		}

		//-- Not checked
		&:disabled:not(:checked) ~ label {

			&:before {
				background-color: transparent;
				border: none;			
			}

			&:after {			
				background-color: transparent;
				border-color: $default;
			}
		}

		//-- Checked
		&:disabled:checked ~ label {
			color: $default;

			&:before {
				background-color: transparent;
			}

			&:after {
				background-color: $default;
				border-color: $default;
			}
		}		
	}
}


//** Steps layout
.signupNav {

	.checkboxStep {
		margin-bottom: 22px;
		position: relative;

		label {
			color: rgba($default, .5);

			&:before,
			&:after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
			}

			&::before {
				width: 22px;
				height: 22px;
				top: 0;
				left: 0;
				background-image: url(../img/icons/play-arrow.svg);
				background-size: 8px;
				background-position: center;
				background-repeat: no-repeat;
				border: none;
				@include transition(all 200ms ease);
			}

			&::after {
				border-radius: 50%;
				width: 22px;
				height: 22px;
				background-color: transparent;
				border: 1.5px solid $default;
				border: 1.5px solid rgba($default, .5);
				z-index: 0;
			}		
		}

		&__line {
			width: 22px;
			height: 100%;
			position: absolute;
			bottom: 100%;
			left: 0;
			overflow: hidden;			

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 1.5px;
				height: 100%;				
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;				
				@include transition(transform .5s ease);
			}

			&::before {
				background-color: $default;
				background-color: rgba($default, .5);
			}

			&::after {
				transform: translateY(-100%);
				background-color: $default;												
			}
		}

		input[type="checkbox"] {

			&:disabled ~ label {
				color: rgba($default, .5);

				&::after {
					border: 1.5px solid rgba($default, .5);
				}				
			}			

			&:checked ~ label {
				color: rgba($default, 1);

				&:before {
					transform: rotateZ(0deg) scale(1);
				}
					
				&::after {
					background-color: $default;
					border: 1.5px solid rgba($default, 1);
				}

				.checkboxStep__line {

					&::after {
						transform: translateY(0%);
					}				
				}
			}
		}


		&.complete {

			label {

				&::before {
					background-image: url(../img/icons/check-sign.svg);
					background-size: 12px;
				}
			}
		}		
	}
}