//## Icons

@import "../_variables";
@import "../_mixins";

.icon {
	width: 20px;
	height: 20px;
	display: inline-block;	
}

.icon-fb {
	background-image: url(../img/icons/fb.png);
}

.icon-in {
	background-image: url(../img/icons/in.png);	
}

.cat-img {    
    width: auto;
    max-height: 32px;
    margin-bottom: 10px;
}