//## Inputs

@import "_variables";
@import "_mixins";

.form-control {
	padding: 15px;
	height: auto;
	appearance: none;
}

.form-group {
	position: relative;	

	label {
		color: $primary;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		padding: ($spacing / 3) ($spacing / 2);
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		@include transition(all .5s ease);
		@include flexbox;
		@include align-items(center);
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	input[type="search"] {
		appearance: none;
		font-weight: 300;
		color: $gray;
		display: block;
		width: 100%;
		border: 1px solid;
		border-color: darken($salmon, 2.5%);
		box-shadow: none;
		padding: 0 $spacing 0;
		color: $gray;
		height: 48px;
		line-height: 48px;
		border-radius: 48px;

		.contact-form & {
			font-size: 14px;
			font-weight: 600;
		}
	}

	textarea {
		display: block;
		width: 100%;
		border-radius: 24px;
		padding: ($spacing / 2) $spacing ($spacing / 2);	
		margin-bottom: 0;

		.contact-form & {
			font-size: 14px;
			font-weight: 600;
		}		
	}
}

.input-group {

	.input-group-addon {
		border-top-right-radius: 48px;
		border-bottom-right-radius: 48px;
		background-color: $energy;
		padding: 0;
		border: none;		
	}
}

.inline-input {

	&__button {		
		background-image: url(../img/icons/right-arrow-white.svg);
		background-size: 14px;
		background-position: center;
		background-repeat: no-repeat;
		width: 68px;
		height: 46px;
		padding: 0;
		border: 0;
		padding: 0 $spacing;
	}
}