//## List

@import "_variables";
@import "_mixins";

//** Table style list
.list {

	&__row {
		padding-right: ($spacing + 5px);
		margin-bottom: ($spacing / 3);
		@include flexbox;
		@include justify-content(space-between);
	}

	&__col {		
		padding-right: ($spacing / 2);
		@include flex(1);

		&:last-child {
			padding-right: 0;
		}
	}

	&__block {
		width: 100%;
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(flex-start);
	}
}
