//## Modal

@import "../_variables";
@import "../_mixins";

.modal-dialog {
	width: 100%;
	max-width: 980px;
	margin: 50px auto;
	padding: ($spacing / 3);	

	.modal-content {
		box-shadow: none;
		border: none;
		border-radius: 0;
	}

	.modal-header {
		border: none;
	}

	.modal-footer {
		border: none;
	}

	.close {
		position: absolute;
		left: 100%;
	    bottom: 100%;
    	margin: 5px;

	    @include breakpoint(xs) {
	    	right: 0;
	    	left: auto;
	    }    			
	}
}


.modal-video {

	.modal-content {
		background-color: $gray-base;
	}

	.modal-header,
	.modal-body,
	.modal-footer {
		padding: 0;
	}

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}

	.video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}	
}

.show-modal {	
	opacity: 0;
	@include transition(all .5s ease);
}

.show-modal.in {
	opacity: 1;
}


