//## Radio

@import "../_variables";
@import "../_mixins";

.radio {

	label {
		padding: 0;
	}
}

.radio {

	&__input {
		position: absolute;
		opacity: 0;
	}

	&__label {

		&:before {
			content: '';
			background: $default;
			border-radius: 100%;
			border: 1px solid $primary;
			display: inline-block;
			width: 24px;
			height: 24px;
			position: relative;
			top: -4px;
			margin-right: ($spacing / 2); 
			vertical-align: top;
			cursor: pointer;
			text-align: center;
			@include transition(all .3s ease);
		}

		&:empty {

			&:before {
				margin-right: 0;
			}
		}		
	}

	&__input {

		&:checked {

			+ .radio__label {

				&:before {
					background-color: $primary;
					box-shadow: inset 0 0 0 6px $default;
				}
			}
		}

		&:focus {

			+ .radio__label {

				&:before {
					outline: none;
					border-color: lighten($primary, 20%);
				}
			}
		}

		&:disabled {

			+ .radio__label {

				&:before {
				  box-shadow: inset 0 0 0 6px lighten($gray, 70%);
				  border-color: lighten($gray, 75%);
				  background: lighten($gray, 70%);
				}
			}
		}

		&:disabled {

			&:checked {
				
				+ .radio__label {

					&:before {
					  box-shadow: inset 0 0 0 6px lighten($gray, 70%);
					  border-color: lighten($gray, 70%);
					  background: lighten($gray, 60%);
					}
				}
			}
		}				
	}	
}

//** Block layout
.radio {

	&.radioBlock {
		width: 100%;		
		border-radius: $border-radius-base;		
		box-shadow: 0 0 0 1px rgba($gray, .05), 0 10px 20px rgba($gray, .05);
		margin-top: 0;
	}
	
	.radioBlock & {

		&__label {
			border: none;
			@include flexbox;
			@include justify-content(space-around);
			@include align-items(center);

			&::before {
				border: none;
				top: 0;
				
			}
		}

		&__bg {
			float: left;
			display: block;
			width: 100%;
			height: 100%;
			min-height: 180px;
			border-radius: 0 $border-radius-base $border-radius-base 0;		
			background-size: cover;
			background-position: center;
			@include flexbox;
			@include flex(1);
		}
	}
}


//** List layout
.radio {

	.radioList & {

		&__label {
			width: calc(100% - 15px);
			font-weight: 300;
			border-radius: $border-radius-base 0 0 $border-radius-base;
			position: relative;
			@include transition(all .5s ease);
			@include flexbox;
			@include justify-content(center);			

			&::before {
				border: 1px solid lighten($gray, 70%);
				top: 0;
				bottom: 0;
				width: 18px;
				height: 18px;				
				margin: auto;
				@include flex-shrink(0);
			}

			&::after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 25px 0 25px 15px;
				border-color: transparent transparent transparent transparent;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				margin: auto;
				@include transition(all .5s ease);
			}

			&:hover {
				background-color: $salmon;

				&::after {
					border-color: transparent transparent transparent $salmon;
				}
			}
		}

		&__input {

			&:checked {				

				+ .radio__label {
					color: $default;
					background-color: $secondary;					

					&::before {
						box-shadow: inset 0 0 0 3px $default;
						border-color: transparent;
					}

					&::after {
						border-color: transparent transparent transparent $secondary;
					}					
				}
			}
		}
	}
}

span.col-xs-12.col-md-3.startData {
	background: #86fb7b;
    color: #000;
}

.radioList {		
	margin-top: 0;
	margin-bottom: 0;

	&__row {
		width: 100%;
	}	
}