//## Select

@import "../_variables";
@import "../_mixins";

select,
select.form-control {
	appearance: none;
	width: auto;
	height: 42px;
	border-radius: 21px;	
	border: solid 1px $gray-lightest;
	padding: 0 44px 0 15px;
	color: $gray;
	background-color: $default;	
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.479 31.479"><path d="M26.485 21.206c.43-.444.43-1.143 0-1.587-.444-.43-1.16-.43-1.587 0l-8.047 8.043V1.11c0-.618-.49-1.11-1.11-1.11-.62 0-1.124.492-1.124 1.11v26.556l-8.03-8.047c-.445-.43-1.144-.43-1.588 0-.43.44-.43 1.14 0 1.583l9.952 9.952c.43.43 1.142.43 1.586 0l9.95-9.952z" fill="#222b31"/></svg>');
    background-size: 14px;
    background-position: calc(100% - 15px);
    background-repeat: no-repeat;

	option {
		background-color: $default;	
		color: $gray;
	}

	&:focus,
	&:active {
		background-color: $default;
		border-color: $gray;
		outline: none;
		box-shadow: none;		
	}	
}

.select {

	&__inner {
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
	}

	&__label {
		margin-right: 10px;
	}
}