//## Tabs

@import "../_variables";
@import "../_mixins";

.nav-tabs,
.nav-pills {	
	border-bottom: 2px solid $salmon;
	margin-bottom: $spacing;

	li {		
		float:none;
		display:inline-block;
		*display:inline; /* ie7 fix */
		zoom:1; /* hasLayout ie7 trigger */

		a {
			color: $gray;
			color: rgba($gray, .5);
			border: none;
			border-radius: 0;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				width: 0%;
				height: 2px;
				background: transparent;				
				bottom: 0;
				left: 0;
				@include transition(width .5s ease);
			}

			&:focus,
			&:active,
			&:hover {
				border: none;
				background-color: transparent;
			}
		}

		&.active {

			a {
				color: $gray;
				border: none;

				&::after {
					width: 100%;
					background: $secondary;
				}

				&:focus,
				&:active,
				&:hover {
					border: none;
					background-color: transparent;
				}
			}
		}
	}
} 

.nav-tabs, 
.nav-pills {
    text-align:center;
}