<div class="row block">
    <div class="question col-xs-12 col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="question__title panel-title">
                    <a data-toggle="collapse" href="#cat4q1">Jakich technologii nauczę się podczas Web Developer Boot-camp?</a>
                </h4>
            </div>
            <div id="cat4q1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="question__copy">
                        <p>Po ukończeniu kursu będziesz znać takie narzędzia jak:</p>
                        <ul class="tags">
                            <li class="tags__item">HTML</li>
                            <li class="tags__item">CSS</li> 
                            <li class="tags__item">JS</li>
                            <li class="tags__item">HTML5</li>
                            <li class="tags__item">CSS3</li>
                            <li class="tags__item">GULP</li>
                            <li class="tags__item">SASS</li>
                            <li class="tags__item">JavaScript</li>
                            <li class="tags__item">JS + DOM</li>
                            <li class="tags__item">jQuery</li>
                            <li class="tags__item">ajax + REST API</li>
                            <li class="tags__item">Node.js</li>
                            <li class="tags__item">Webpack</li>
                            <li class="tags__item">ES6</li>
                            <li class="tags__item">ReactJS</li>
                            <li class="tags__item">Fetch + Router</li>
                            <li class="tags__item">Redux</li>
                            <li class="tags__item">Express js</li>
                            <li class="tags__item">MongoDB</li>
                        </ul>                        
                    </div>                                                                
                </div>
                <div class="panel-footer"></div>
            </div>
        </div> 
    </div>    
</div>